<header class="site-header" data-name="Header 1">
    <a class="site-header__brand" href="index.html">Vicky Chen</a>
    <nav class="site-nav" aria-label="Main" data-name="Nav">
        <a class="site-nav__link" href="work.html">&ldquo;Work&rdquo;</a>
        <a class="site-nav__not-work site-nav__not-work--mobile" href="not-work.html">Not Work</a>
        <div class="site-nav__center">
            <div class="site-nav__center-slot">
                <a class="site-nav__center-cluster" href="not-work.html">
                    <div class="site-nav__center-img-wrap">
                        <img src="images/site/tape.png" alt="" class="site-nav__center-img" />
                    </div>
                    <div class="site-nav__center-label-wrap">
                        <span class="site-nav__not-work">Not Work</span>
                    </div>
                </a>
            </div>
        </div>
        <a class="site-nav__link site-nav__link--about" href="about.html">About</a>
    </nav>
</header>
